.cabecalho__logo {
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: .20rem;
    text-transform: uppercase;
    transition: width 0.3s;
}

.cabecalho__logo:hover {
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    text-shadow: 1px 0px 5px var(--vermelho);
    transition: width 0.3s;
}