header nav a {
    color: var(--cinza);
    margin-right: 15px;
    text-decoration: none;
    transition: all .5s linear;
}

header nav a:hover {
    color: #FFFFFF;
    transition: all .5s linear;
}