.box__filmes {
    display: block;
    height: 100%;
    transition: .5s ease all;
    width: 100%;
}

.box__filmes:hover, .box__filmes--marvel:hover, .box__filmes--dc:hover {
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    box-shadow: 1px 0px 5px var(--vermelho);
    cursor: pointer;
    filter:grayscale(30%);
    transition: width 0.3s;
}

.carrossel__titulo, .carrossel__titulo--marvel, .carrossel__titulo--dc {
    font-size: 25px;
    margin: 15px 30px;
}